* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f9fafa;
  font-family: sans-serif;
  margin: 0;
  padding-top: 80px;
}

.header-content {
  width: 100%;
  padding: 24px 15px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.arrowAndText {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blue-text {
  font-size: 12px;
  color: #182cc0;
  font-weight: 700;
}

#hamburger-menu {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding-right: 8px;
}

#hamburger-menu span {
  display: block;
  background: #555f62;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  width: 11px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  width: 20px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  width: 15px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  height: 2px;
  top: -6px;
  left: 1px;
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  height: 2px;
  top: 8px;
  left: 0px;
}

.main-page-btn {
  padding: 16px 0 48px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-page-btn-text {
  font-size: 12px;
  color: #141719;
  font-weight: 600;
}

.concept-section {
  width: 100%;
  position: relative;
}

.library-div {
  width: 100%;
  position: relative;
}

.library-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-div {
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: #00000097;
  opacity: 0.6;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
}

.library-content-div {
  position: absolute;
  z-index: 10;
  color: white;
  bottom: 20px;
  left: 15px;
  right: 15px;
}

.concept-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.concept-description {
  font-size: 14px;
  margin-bottom: 24px;
}

.blue-gradient-button {
  width: 100%;
  background: linear-gradient(15deg, #001682, #3240e5);
  color: white;
  border: none;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gradient-button:hover {
  background: linear-gradient(to right, #3240e5, #001682);
}

.big-message-section {
  width: 100%;
  padding: 48px 15px;
}

.message-text {
  color: #141719;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.collection-section {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 72px;
}

.collection-section-label {
  font-size: 14px;
  color: #141719;
  font-weight: 700;
  margin-bottom: 20px;
}

.slider-div {
  display: flex;
  column-gap: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.additional-slider-div {
  width: 100%;
  display: flex;
}

.main-sliding-card {
  position: relative;
  width: 280px;
  min-height: 232px;
}

.sliding-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.br-8 {
  border-radius: 8px;
  bottom: 0;
}

.card-content-div {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  row-gap: 20px;
}

.card-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.card-link-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-link-text {
  font-size: 14px;
  font-weight: 800;
  text-decoration: underline;
  color: white;
}

.number-cards-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 0 15px;
  margin-bottom: 72px;
}

.number-card {
  width: 100%;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
}

.number-card-number {
  font-size: 36px;
  font-weight: 700;
  color: #141719;
  line-height: 1.3;
}

.number-card-title {
  font-size: 14px;
  font-weight: 600;
  color: #555f62;
  line-height: 1.7;
}

.offers-section {
  width: 100%;
  padding: 0 15px 60px 15px;
}

.offers-headline-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offers-section-label {
  font-size: 14px;
  color: #141719;
  font-weight: 700;
}

.arrowAndText2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gallery-container {
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery-wrapper {
  display: flex;
  gap: 15px;
}

.gallery-item {
  min-width: 280px;
  height: auto;
  border: 1px solid #e1e4e5;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.photo-container {
  position: relative;
}

.gallery-photo {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.gallery-logo {
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.gallery-content-div {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-content-title-container {
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
}

.gallery-content-title {
  font-size: 12px;
  font-weight: 700;
  color: #6f787b;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-content-description {
  color: #141719;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* Custom scrollbar styles */
.gallery-container::-webkit-scrollbar {
  height: 8px;
}

.gallery-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.gallery-container::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.gallery-container::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

.digital-bank-section {
  margin-bottom: 72px;
  background-color: white;
  padding: 32px 15px;
}

.digital-bank-description {
  color: #555f62;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 24px;
}

.download-button {
  width: 100%;
  border: 1px solid #182cc0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: #f9fafa;
}

.download-button-text {
  color: #182cc0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}

.products-card-title {
  color: #141719;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-card-description-div {
  word-wrap: break-word; /* Ensure long words break onto the next line */
  overflow-wrap: break-word; /* Ensure text wraps within container */
  white-space: normal; /* Allow text to wrap within the container */

  display: -webkit-box; /* Necessary for webkit-line-clamp */
  -webkit-box-orient: vertical; /* Necessary for webkit-line-clamp */
  -webkit-line-clamp: 4; /* Limit to 2 lines and truncate with ellipsis */
  overflow: hidden; /* Hide overflow content */
}

.products-card-description {
  color: #555f62;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
}
