* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f9fafa;
  font-family: sans-serif;
}

.header-content {
  width: 100%;
  padding: 24px 15px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.arrowAndText {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blue-text {
  font-size: 12px;
  color: #182cc0;
  font-weight: 700;
}

#hamburger-menu {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding-right: 8px;
}

#hamburger-menu span {
  display: block;
  background: #555f62;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  width: 11px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  width: 20px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  width: 15px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  height: 2px;
  top: -6px;
  left: 1px;
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  height: 2px;
  top: 8px;
  left: 0px;
}

.main-page-btn {
  padding: 16px 0 48px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-page-btn-text {
  font-size: 12px;
  color: #141719;
  font-weight: 600;
}

.concept-section {
  width: 100%;
  position: relative;
}

.library-div {
  width: 100%;
  position: relative;
}

.library-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-div {
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: #00000097;
  opacity: 0.6;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
}

.library-content-div {
  position: absolute;
  z-index: 10;
  color: white;
  bottom: 20px;
  left: 15px;
  right: 15px;
}

.concept-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.concept-description {
  font-size: 14px;
  margin-bottom: 24px;
}

.blue-gradient-button {
  width: 100%;
  background: linear-gradient(15deg, #001682, #3240e5);
  color: white;
  border: none;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gradient-button:hover {
  background: linear-gradient(to right, #3240e5, #001682);
}

.big-message-section {
  width: 100%;
  padding: 48px 15px;
}

.message-text {
  color: #141719;
  font-size: 24 px;
  font-weight: 600;
  line-height: 1.5;
}
