.footer {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #d1d5d6;
}

#footer-heading-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 15px;
  border-bottom: 1px solid #d1d5d6;
}

.language-main-div {
  position: relative;
  height: 40px;
  background-color: #f9fafa;
  padding-left: 12px;
  padding-right: 12px;
  grid-column-gap: 4px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.active-language {
  color: #555f62;
  font-size: 14px;
  font-weight: 700;
}

.footer-box {
  width: 100%;
  border-bottom: 1px solid #d1d5d6;
}

.footer-box-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px;
}

.title-and-arrow-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-box-hidden-text {
  color: #555f62;
  font-size: 14px;
  font-weight: 500;
}

.footer-hidden-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.7s linear,
    transform 0.7s linear;
  opacity: 0;
  transform: translateY(-10px);
}

.footer-box-hidden-text-1 {
  padding-top: 20px;
}

.footer-box.active .footer-hidden-box {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.7s ease-in, opacity 0.7s linear,
    transform 0.7s linear;
}

.down-arrow-icon {
  transition: transform 0.5s ease;
}

.active .down-arrow-icon {
  transform: rotate(180deg);
}

.contacts-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  margin-bottom: 48px;
}

.contact-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.icon-div {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafa;
  border-radius: 6px;
}

.desktop-footer {
  display: none;
}

.bottom-menu-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #424a4d;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.bottom-menu-btn:hover {
  background-color: #555f62;
  transition: 0.3s;
}

.bottom-menu-hidden-items {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 100;
}

.bottom-menu-hidden-item {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #eef1f1;
  background-color: white;
  cursor: pointer;
}

.bottom-menu-open-icon,
.bottom-menu-close-icon {
  display: flex;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.bottom-menu-close-icon {
  display: none;
  opacity: 0;
}

.bottom-menu-hidden-items {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.bottom-menu-hidden-items.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
}

.lang-hover-div {
  display: none;
}

@media (min-width: 768px) {
  .footer-box-content {
    padding: 32px 45px;
  }

  .footer-box-label {
    font-size: 18px !important;
  }

  .soc-net-icons-div {
    column-gap: 7px !important;
  }

  .icon-div {
    width: 40px;
    height: 40px;
  }

  #copy-rights-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .rules-and-conditions {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 1024px) {
  .footer {
    display: none;
  }

  .desktop-footer {
    display: block;
    background: white;
    width: 100%;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #bcc0c280;
  }

  .desktop-footer-heading-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-footer-content {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 100px;
  }

  .desktop-footer-list-label {
    margin-bottom: 25px !important;
  }

  .footer-box-hidden-text:hover,
  .rights-text:hover {
    color: #182cc0;
    transition: 0.3s;
    cursor: pointer;
  }

  .contact-item:hover .footer-contact-items {
    text-decoration: underline;
  }

  .soc-net-icon:hover {
    fill: #182cc0;
    cursor: pointer;
  }
}
