.main-page-btn {
  padding: 16px 0 48px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-page-btn-text {
  font-size: 12px;
  color: #141719;
  font-weight: 600;
}

.concept-section {
  width: 100%;
  position: relative;
}

.library-div {
  width: 100%;
  position: relative;
}

.library-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.library-img-tablet {
  display: none;
  width: 100%;
  height: 463px;
  object-fit: cover;
  min-height: 360px;
  border-radius: 6px;
}

.overlay-div {
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: #00000097;
  opacity: 0.6;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
}

.library-content-div {
  position: absolute;
  z-index: 10;
  color: white;
  bottom: 20px;
  left: 15px;
  right: 15px;
}

.concept-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.concept-description {
  font-size: 14px;
  margin-bottom: 24px;
}

.blue-gradient-button {
  width: 100%;
  background: linear-gradient(15deg, #001682, #3240e5);
  color: white;
  border: none;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.big-message-section {
  width: 100%;
  padding: 48px 15px;
}

.message-text {
  color: #141719;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.collection-section {
  margin-bottom: 72px;
}

.additional-last-slider-div {
  padding-right: 15px;
}

.additional-first-slider-div {
  padding-left: 15px;
}

.collection-section-label {
  font-size: 14px;
  color: #141719;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 15px;
}

.slider-div {
  display: flex;
  column-gap: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.additional-slider-div {
  width: 100%;
  display: flex;
}

.main-sliding-card {
  position: relative;
  width: 280px;
  min-height: 232px;
}

.sliding-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.main-sliding-card:hover .sliding-card-img {
  transform: scale(1.01);
}

.main-sliding-card:hover .overlay-div {
  left: -1px;
  right: -2px;
  bottom: -1px;
  transition: transform 0.3s ease;
}

.br-8 {
  border-radius: 8px;
  bottom: 0;
}

.card-content-div {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  row-gap: 20px;
}

.card-text {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.card-link-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-link-text {
  font-size: 14px;
  font-weight: 800;
  text-decoration: underline;
  color: white;
}

.number-cards-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 0 15px;
  margin-bottom: 72px;
}

.number-card {
  width: 100%;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
}

.number-card-number {
  font-size: 36px;
  font-weight: 700;
  color: #141719;
  line-height: 1.3;
}

.number-card-title {
  font-size: 14px;
  font-weight: 600;
  color: #555f62;
  line-height: 1.7;
}

.offers-section {
  width: 100%;
  padding-bottom: 60px;
}

.offers-headline-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.offers-section-label {
  font-size: 14px;
  color: #141719;
  font-weight: 700;
}

.arrowAndText2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gallery-container {
  overflow-x: auto;
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
}

.gallery-wrapper {
  display: flex;
  gap: 15px;
}

.gallery-item {
  min-width: 280px;
  height: auto;
  border: 1px solid #e1e4e5;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.first-gallery-item {
  margin-left: 15px;
}

.last-gallery-item {
  margin-right: 15px;
}

.photo-container {
  position: relative;
}

.gallery-photo {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-photo {
  transform: scale(1.01);
}

.gallery-item:hover {
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-logo {
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.gallery-content-div {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-content-title-container {
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
}

.gallery-content-title {
  font-size: 12px;
  font-weight: 700;
  color: #6f787b;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-content-description {
  color: #141719;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-wrap-3-lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 30px;
}

.phone-image-tablet {
  display: none;
}

.phone-image-mobile {
  display: block;
}

.digital-bank-section {
  margin-bottom: 72px;
  background-color: white;
  padding: 32px 15px;
}

.digital-bank-description {
  color: #555f62;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 24px;
}

.download-button {
  width: 100%;
  border: 1px solid #182cc0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: #f9fafa;
}

.desktop-download-buttons {
  display: none;
}

.download-button-text {
  color: #182cc0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}

.products-card-title {
  color: #141719;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-card-description-div {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.products-card-description {
  color: #555f62;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
}

.titles-card-description {
  color: #555f62;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

@media (min-width: 480px) {
  .library-content-div {
    left: 45px;
    right: 45px;
    bottom: 40px;
  }
  .message-text {
    font-size: 28px;
  }

  .digital-bank-section {
    padding-left: 45px;
    padding-right: 45px;
  }

  .additional-last-slider-div {
    padding-right: 45px;
  }

  .additional-first-slider-div {
    padding-left: 45px;
  }

  .last-gallery-item {
    margin-right: 45px;
  }

  .first-gallery-item {
    margin-left: 45px;
  }

  .collection-section-label {
    font-size: 24px;
    padding-left: 45px;
  }

  .number-card {
    padding: 40px;
  }

  .number-card-number {
    font-size: 44px;
  }

  .number-card-title {
    font-size: 16px;
  }

  .gallery-item {
    min-width: 318px;
  }

  .offers-headline-div {
    padding: 0 45px;
  }

  .concept-title,
  .offers-section-label {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .main-page-btn {
    padding-top: 24px !important;
  }

  .concept-section {
    padding: 0 45px;
  }

  .library-div {
    min-height: 360px;
  }

  .library-img {
    display: none;
  }

  .library-img-tablet {
    display: block;
  }

  .library-content-div {
    max-width: 450px;
  }

  .overlay-div {
    border-radius: 6px;
    bottom: 0;
  }

  .blue-gradient-button {
    width: fit-content;
  }

  .big-message-section {
    padding-top: 0 !important;
    padding-bottom: 100px !important;
  }

  .message-text {
    font-size: 32px;
  }

  .tablet-grid-div {
    grid-row-gap: 30px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    padding: 0 45px;
  }

  .tablet-first-slider {
    padding-left: 0 !important;
  }

  .collection-section,
  .number-cards-section,
  .digital-bank-section {
    margin-bottom: 100px;
  }

  .offers-section,
  .concept-section {
    padding-bottom: 100px !important;
  }

  .collection-section-label {
    margin-bottom: 36px;
  }

  .tablet-high-grid-card {
    grid-area: span 2 / span 1 / span 2 / span 1;
    min-width: 339px;
  }

  .main-sliding-card {
    width: auto;
    min-width: 316px;
  }

  .additional-last-slider-div {
    padding-right: 0 !important;
  }

  .card-text {
    font-size: 24px;
  }

  .card-link-text,
  .gallery-content-description {
    font-size: 16px;
  }

  .phone-image-tablet {
    display: block;
  }

  .phone-image-mobile {
    display: none;
  }

  .digital-bank-section {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 32px 45px 0 !important;
  }

  .tablet-block-div {
    width: 55%;
    padding-top: 25px;
  }

  .download-button {
    width: fit-content;
  }

  .products-card-description {
    font-size: 14px;
  }

  .tablet-gallery-content-div {
    padding: 28px !important;
  }
}

@media (min-width: 1024px) {
  .arrowAndText2:hover .blue-text {
    color: #3295ce;
    transition: 0.3s;
    cursor: pointer;
  }

  .concept-section,
  .collection-section-label,
  .tablet-grid-div,
  .offers-section,
  .digital-bank-section {
    padding-left: 210px !important;
    padding-right: 210px !important;
  }

  .library-img-tablet {
    height: 380px;
  }

  .library-content-div {
    left: 100px;
    bottom: 110px;
  }

  .concept-title {
    font-size: 26px;
  }

  .blue-gradient-button:hover {
    background: #3299e5;
  }

  .additional-first-slider-div,
  .additional-last-slider-div {
    min-height: auto;
    max-height: 256px;
    cursor: pointer;
  }
  .tablet-high-grid-card {
    cursor: pointer;
  }

  .tablet-grid-div {
    overflow-x: hidden;
  }

  .number-cards-section {
    flex-direction: row;
    column-gap: 30px;
  }

  .offers-headline-div {
    padding: 0 !important;
  }

  .first-gallery-item {
    margin-left: 0 !important;
  }

  .last-gallery-item {
    margin-right: 0 !important;
  }

  .gallery-item {
    min-width: 360px;
  }

  .digital-bank-section {
    height: 400px;
  }

  .tablet-block-div {
    width: 50%;
    padding-top: 60px;
  }

  .digital-bank-description {
    font-size: 16px;
    margin-top: 10px;
  }

  .download-button {
    display: none;
  }

  .desktop-download-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .playstore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
  }

  .playstore-btn:hover {
    background-color: #f9fafa;
  }

  .products-gallery-photo {
    max-height: 201px !important;
  }

  .products-card-title,
  .concept-description {
    font-size: 16px;
  }
}
